footer {
	color: #999;
	
	a {
		/*color: pink;*/
	}
}

form.new_battle {
	position: relative;
}

/*
form.new_battle:after {
	content: " ";
	position: absolute;
	height: 20px;
	width: 20px;
	right: 36px;
	top: 10px;
	background: #fff;
}
*/

.bannerimg {
	width: 640px;
	height: auto;
	border: 2px solid transparent;
	position: relative;
}

.bannerimg:hover {
	border-color: #46A546;
}
